/* >>> bar and bar hover colors */
.exf-gantt .gantt .bar:not(.bar-invalid) {
  fill: var(--bar-fill, #ffffff);
}

.exf-gantt .gantt .bar-wrapper:hover .bar:not(.bar-invalid) {
  fill: var(--bar-fill-hover, var(--bar-fill, #f3f3f3));
}
/* <<< bar and bar hover colors */

/* >>> Aggregation bar popup list */
.exf-gantt .gantt-container .popup-wrapper .agg-list {
  margin: 6px 0px 0px;
  padding-left: 16px;
  padding-right: 5px;
  color: #6a6d70;
  max-height: 160px;
  overflow: auto;
}
.exf-gantt .gantt-container .popup-wrapper .agg-list li {
  margin: 2px 0;
  line-height: 1.3;
  list-style: none;
  display: flex;
  align-items: center;
}

.exf-gantt .gantt-container .popup-wrapper .agg-list .agg-color-swatch {
  display: inline-block;
  width: 10px;
  height: 12px;
  border-radius: 2px;
  margin-right: 6px;
  background: #b8c2cc;
  flex-shrink: 0;
}

.exf-gantt .gantt-container .popup-wrapper .agg-list {
  border-top: 1px solid #e5e5e5;
  padding: 5px;
}

.exf-gantt .gantt-container .popup-wrapper .subtitle:empty {
  display: none;
}
/* <<< Aggregation bar popup list */

/* >>> Laber Overflow Handling */
.exf-gantt .bar-label.small { font-size: 11px; }

.exf-gantt .gantt .bar-label.clip-left {
  text-anchor: start !important;
}
/* <<< Laber Overflow Handling */